*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
   
    color: #EDEDED;
    --nav-height: 80px;
    padding-top: var(--nav-height);
    background: #171717;
}
body::-webkit-scrollbar{
    display: none;
  }

#header{
    width: 100%;
    height: 100vh;
    background:#171717;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
#top{
  height: 80px;
}
nav{
  top: 0;
  z-index: 1;
  list-style: none;
  background: url(gradient2.jpg);
  background-size: cover;
  height: 80px;
  width: 100%;
  position: fixed;
  transition: 0.2s;
  
}

nav a:hover{
  transition: 0.2s;
  background-color: #fff;
  border-radius: 20px;
  transform: scale(0.9);
}
#icon{
  margin-left: 50px;
  transition: 0.3s;
}
#icon:hover{
  transition: 0.3s;
  transform: translateY(-5px);
}
label.logo{
  margin-left: 50px;
  color: #fd5c63;
  font-size: 35px;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #fd5c63;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
}
.nav--hidden{
    transform: translateY(calc(-1 * var(--nav-height)));
}
.checkbtn{
  
  float: right;
  margin-top: 13px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.closebtn{
  
  float: right;
  margin-top: 13px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.header-text{
  padding-top: 40px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  
}
.header-text p{
    margin-top: 40px;
    font-size: 30px;
}
.header-text h1{
    margin-top: 40px;
    font-size: 80px;
}
.header-text h1 span{
    color: #fd5c63;
}
#header img{
    height: 700px;
    width: 700px;
    position: relative;
    place-items: center;
    place-content: center;
    margin-bottom: 20px;
    border: solid;
    border-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 1px 30px 0px #fd5c63;
}
#header img:hover{
    transform: translateY(-10px);
}
/*_________________ABOUT_________*/
#about{
  background: #171717;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:whitesmoke;
  width: 100%;
  height: 100vh;
  
}
.container-about{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  text-align: center;
  padding: 45px;
  
}
.container-about img{
  width: 700px;
  height: 700px;
  margin-top: 80px;
  
  border: solid;
  border-color:#262626;
  border-radius: 50%;
  box-shadow: 0 6px 10px #fd5c63;
}

#details{
margin-left: 75px;

width: 700px;
height: 700px;
background-image: url(gradient2.jpg);

background-size: cover;

border-radius: 50%;
box-shadow: 0 -6px 10px #fd5c63;
margin-top: 80px;

}
#about h1{
margin-top: 220px;
font-size: 60px;
color: #fd5c63;
}
#about p {
margin-top: 20px;
font-size: 20px;
margin-left: 100px;
margin-right: 100px;

color: #EDEDED;
}
#about li{
margin-top: 20px;
font-size: 20px;
margin-left: 100px;
margin-right: 100px;
font-style: italic;
margin-bottom: 40px;
}
#about h2{
font-style: italic;
}
/*_________________SKILLS__________________*/
#skills{
  width: 100%;
  height: 100vh;
  background:#171717;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  
  color: whitesmoke;
}
#skills .container-skills{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  background-image: url(gradient2.jpg);
  background-size: cover;
  border-radius: 50%;
 box-shadow: 0px 1px 30px 0px #fd5c63;
  padding: 20px;
  
}


#skills h1{
  font-size: 60px;
  color: #fd5c63;
}
#skills p{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
  
  margin-bottom: 40px;
  color: #EDEDED;
   
}
#experiences, #education, #t-skills, #p-skills{
  backdrop-filter: blur(20px);
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 90%;
  
  border-radius: 30px;
  padding: 20px;
}

#skills .container-logos-skills{
     padding: 20px;
    margin-top: 100px;
   
    
    display: flex;
    align-content: center;
    justify-content: center;
}
.container-logos-skills svg{
  margin-right: 45px;
  transition: 0.3s;
  
}
.container-logos-skills svg:hover{
  transition: 0.3s;
  margin-top: -10px;
  filter: invert(100%);

}
/*_____________________CONTACT_______________*/
#contact{
  width: 100%;
  height: 100vh;
  background: #171717;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid;
  border-color: transparent;
  
}

#contact .contact-text{

margin-top: 200px;


display: flex;
justify-content: space-evenly;
}
.contact-text h1{
color: #fd5c63;

font-size: 80px;


}
.contact-text h2{
margin-top: 50px;

color: #EDEDED;
font-size: 30px;


}

.contact-text p{
color: #EDEDED;
margin-top: 50px;

font-size: 20px;

font-style: italic;
}
.contact-logos{

margin-top: 50px;


display: flex;
justify-content: end;
margin-right: 20%;

}
.contact-logos a{

margin-right: 25px;
transition: 0.2s;
}
.contact-logos a:hover{
margin-top: -10px;
}

.contact-form {

width: 25%;
background-image: url(pawel-czerwinski-wrzMveYicSA-unsplash.jpg);
background-size: cover;
padding: 20px;
border-radius: 30px;
transition: 0.2s;
box-shadow: 0 6px 10px #fd5c63;
}

.contact-form label {
color: #EDEDED;
}

.contact-form .heading {
font-size: 24px;
color: #EDEDED;
;
margin-bottom: 12px;
font-weight: bold;
display: block;
}

.contact-form form {
display: flex;
flex-direction: column;
}

.contact-form label {
margin-bottom: 10px;
}

textarea {
resize: none;
height: 80px;
width: 100%;
}

.contact-form input, .contact-form textarea {
padding: 10px;
border: none;
border-radius: 20px;
margin-bottom: 20px;
transition: 0.2s;
}

.contact-form input:focus, .contact-form textarea:focus {
outline: none;
box-shadow: 0 0 5px #fd5c63;
transform: scale(1.05);
transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
background-color: #fd5c63;
color: #fff;
border: none;
border-radius: 20px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: 0.2s;
}

.contact-form button[type="submit"]:hover {
transform: scale(1.05);
transition: transform 0.2s ease-in-out;
}










@media (max-width: 1366px){

  
  /*__________header_lowres________________*/
  .header-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
  }
  .header-text p{
    
    margin-top: -150px;
    margin-bottom: 50px;
    font-size: 20px;
    
  }
  .header-text h1{
      
      font-size: 60px;
      
  }
 
  #header img{
      display: none;
  }
  /*_________________aboutlowres______________*/
  #about{
    background: #171717;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:whitesmoke;
    width: 100%;
    height: 100vh;
    
  }
  .container-about{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 45px;
    height: 100%;
    margin: auto;

  }
  .container-about img{
    width: 350px;
    height: 350px;
    margin-top: 30px;
    
    border: solid;
    border-color:#262626;
    border-radius: 50%;
    box-shadow: 0 6px 10px #fd5c63;
  }
  
  #details{
 
  margin-left: 0;
  width: 350px;
  height: 350px;
  background-image: url(gradient2.jpg);
  
  background-size: cover;
  
  border-radius: 50%;
  box-shadow: 0 -6px 10px #fd5c63;
  margin-top: 80px;
  
  }
  #about h1{
  margin-top:90px;
  font-size: 30px;
  color: #fd5c63;
  }
  #about p {
  margin-top: 20px;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  
  color: #EDEDED;
  }
  #about li{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
  margin-bottom: 40px;
  }
  /*___________________SKILLSlowres__________________*/
  #skills{
    width: 100%;
    height: 175%;
    background:#171717;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    
    
  }
  #skills .container-skills{
    height: 175%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    border-radius: 0;
   
   
   box-shadow: 0px 1px 30px 0px #fd5c63;
    
  }
  
  
  #skills h1{
    font-size: 50px;
    color: #fd5c63;
  }
  #skills p{
    margin-top: 0;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    
    margin-bottom: 40px;
    color: #EDEDED;
     
  }
  
  #skills .container-logos-skills{
      
       padding: 20px;
      margin-top: 0;
      margin-left: 0;
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      
      place-content: center;
      place-items: center;
      
      
      
  }
  .container-logos-skills svg{
    width: 100px;
    height: 100px;
    margin-left: 0;
    transition: 0.3s;
    align-content: center;
    justify-content: center;
  }
  .container-logos-skills svg:hover{
    transition: 0.3s;
    margin-top: -10px;
  }
  /*_________CONTACTlowres__________*/
  #contact{
    
    width: 100%;
    height: 100vh;
    background: #171717;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
  }
  
  #contact .contact-text{
    
    
    margin-top: 10%;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .contact-text-header{
    text-align: center;

  }
  .contact-text h1{
  color: #fd5c63;
  
  font-size: 60px;
  
  
  }
  
  
  .contact-text p{
  color: #EDEDED;
  margin-top: 50px;
  
  font-size: 18px;
  
  font-style: italic;
  }
  
  .contact-form {
    
  margin-top: 50px;
  width: 100%;
  background-image: url(pawel-czerwinski-wrzMveYicSA-unsplash.jpg);
  background-size: cover;
  padding: 20px;
  border-radius: 30px;
  transition: 0.2s;
  box-shadow: 0 6px 10px #fd5c63;
  }
  .contact-form label {
    color: #EDEDED;
    }
    
    .contact-form .heading {
    font-size: 24px;
    color: #EDEDED;
    ;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
    }
    
    .contact-form form {
    display: flex;
    flex-direction: column;
    }
    
    .contact-form label {
    margin-bottom: 10px;
    }
    
    textarea {
    resize: none;
    height: 80px;
    width: 100%;
    }
    
    .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 0.2s;
    }
    
    .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #fd5c63;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    }
    
    .contact-form button[type="submit"] {
    background-color: #fd5c63;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    }
    
    .contact-form button[type="submit"]:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    }
    
}












/*____________________MOBILE_____________*/

@media (max-width: 768px){
  .checkbtn{
    display: block;
    
  }
                                          
  nav .logo{
    margin-left: 5px;
    font-size: 30px;
  }
  nav label svg {
    width: 30px;
    height: 50px;
  }
  ul {
   
    position: fixed;
    width: 55%;
    height: 100%;
    
    top: 80px;
    right: -110%;
    text-align: center;
    transition: all .3s;
    backdrop-filter: blur(20px);

  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 18px;
  }
  nav ul li a:hover{
    transition: 0.2s;
    background: #EDEDED;
  }
  
  .active ul{
    right: -20px;
  }
  .active .checkbtn{
    
    display: none;
  }
  .active .closebtn{
    
    display: block;
    
  }
  
  /*__________headermobile________________*/
  .header-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    
    padding: 20px;
    padding-bottom: 50px;
  }
  .header-text p{
    
    margin-top: -120px;
    margin-bottom: 50px;
    font-size: 20px;
    
  }
  .header-text h1{
      
      font-size: 60px;
      
  }
  .header-text h1 span{
      color: #fd5c63;
  }
  #header img{
      display: none;
  }
  /*_________________aboutmobile______________*/
  #about{
    background: #171717;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:whitesmoke;
    width: 100%;
    height: 100vh;
    
  }
  .container-about{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    text-align: center;
   flex-wrap: wrap;
    padding: 45px;
    height: 100%;
    margin: auto;
  }
  .container-about img{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    
    border: solid;
    border-color:#262626;
    border-radius: 50%;
    box-shadow: 0 6px 10px #fd5c63;
  }
  
  #details{
 
  margin-left: 0;
  width: 250px;
  height: 250px;
  background-image: url(gradient2.jpg);
  
  background-size: cover;
  
  border-radius: 50%;
  box-shadow: 0 -6px 10px #fd5c63;
  margin-top: 80px;
  
  }
  #about h1{
  margin-top: 20px;
  font-size: 30px;
  color: #fd5c63;
  }
  #about p {
  margin-top: 20px;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  
  color: #EDEDED;
  }
  #about li{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
  margin-bottom: 40px;
  }
  /*___________________SKILLSMOBILE__________________*/
  #skills{
    width: 100%;
    height: 100vh;
    background:#171717;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    
  }
  #skills .container-skills{
    height: 175%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    border-radius: 0;
   
   
   box-shadow: 0px 1px 30px 0px #fd5c63;
    
  }
  
  
  #skills h1{
    font-size: 30px;
    color: #fd5c63;
  }
  #skills p{
    margin-top: 0;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    
    margin-bottom: 40px;
    color: #EDEDED;
     
  }
  #skills h2{
   
  }
  #skills .container-logos-skills{
      
       padding: 20px;
      margin-top: 0;
      margin-left: 0;
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-content: space-evenly;
      place-content: center;
      place-items: center;
      
      margin-left: 40px;
      
  }
  .container-logos-skills svg{
    width: 50px;
    height: 50px;
    margin-left: 0;
    transition: 0.3s;
    align-content: center;
    justify-content: center;
  }
  .container-logos-skills svg:hover{
    transition: 0.3s;
    margin-top: -10px;
  }
  /*_________CONTACTMOBILE__________*/
  #contact{
    margin-top: 200%;
    width: 100%;
    height: 100vh;
    background: #171717;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    
  }
  
  #contact .contact-text{
    height: 100%;
    
    margin-top: 10px;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .contact-text-header{
    text-align: center;

  }
  .contact-text h1{
  color: #fd5c63;
  
  font-size: 40px;
  
  
  }
  
  
  .contact-text p{
  color: #EDEDED;
  margin-top: 50px;
  
  font-size: 12px;
  
  font-style: italic;
  }
  
  .contact-form {
  margin-top: 50px;
  width: 100%;
  background-image: url(pawel-czerwinski-wrzMveYicSA-unsplash.jpg);
  background-size: cover;
  padding: 20px;
  border-radius: 30px;
  transition: 0.2s;
  box-shadow: 0 6px 10px #fd5c63;
  }
  .contact-form label {
    color: #EDEDED;
    }
    
    .contact-form .heading {
    font-size: 24px;
    color: #EDEDED;
    ;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
    }
    
    .contact-form form {
    display: flex;
    flex-direction: column;
    }
    
    .contact-form label {
    margin-bottom: 10px;
    }
    
    textarea {
    resize: none;
    height: 80px;
    width: 100%;
    }
    
    .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 0.2s;
    }
    
    .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #fd5c63;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    }
    
    .contact-form button[type="submit"] {
    background-color: #fd5c63;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    }
    
    .contact-form button[type="submit"]:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    }
    
}
